@using LibraryApp.Data.Models
@using System.Globalization

<div class="structural">
    <div class="tile">
        <div class="canvas">
            <img src="https://via.placeholder.com/250" alt="placeholder"/>
        </div>
        <div class="info">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <h3>@BookBind.Name</h3>
                <button class="btn-primary info-switch" @onclick="SwitchInfo">
                    <i class="material-icons">@(_showingClass.Contains("hidden") ? "arrow_circle_right" : "arrow_circle_left")</i>
                </button>
            </div>
            <span>@BookBind.Released.Year.ToString()</span>
            <span class="oi oi-pencil me-2" aria-hidden="true">@BookBind.Author.Name</span>
            <span>@BookBind.Description</span>
            <span>Copies available: @BookBind.Copies.ToString()</span>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="admin-book">
                    <button class="btn-primary">
                        <i class="material-icons md-18">visibility</i>
                    </button>
                    <button class="btn-primary">
                        <i class="material-icons md-18">add</i>
                    </button>
                    <button class="btn-primary">
                        <i class="material-icons md-18">remove</i>
                    </button>
                    <button class="btn-primary">
                        <i class="material-icons md-18">delete</i>
                    </button>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
    <div class="@_showingClass">
        
    </div>
</div>

@code {
    private const string InfoVisClass = "infographics visible";
    private const string InfoHidClass = "infographics hidden";

    [Parameter]
    public Book BookBind { get; set; } = new Book();

    private string _showingClass = "infographics hidden";

    private void SwitchInfo() => _showingClass = _showingClass.Contains("hidden") ? InfoVisClass : InfoHidClass;

}